:root {
  --color-primary-400: hsl(0, 100%, 67%);
  --color-primary-300: hsl(39, 100%, 56%);
  --color-primary-200: hsl(166, 100%, 37%);
  --color-primary-100: hsl(234, 85%, 45%);

  --color-neutral-400: hsl(0, 100%, 100%);
  --color-neutral-300: hsl(224, 30%, 27%);

  --color-gradient-400: hsl(252, 100%, 67%);
  --color-gradient-300: hsl(241, 81%, 54%);
  --color-gradient-200: hsla(256, 72%, 46%, 1);
  --color-gradient-100: hsla(241, 72%, 46%, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}
